.App {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  padding: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App__label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  background-color: #92C47D;
  color: white;
  justify-self: end;
}

.App__input {
  display: none;
}

th, td {
  border-right: 1px solid black;
}

.error {
  background-color: #F4CCCC;
}

.App__error {
  display: flex;
  justify-content: center;
  width: 500px;
  height: 75px;
  align-items: center;
  background-color: #F5CBCC;
  border: 1px solid #9E5860;
  justify-self: center;
}